@model AfritopProperties.Models.LoginViewModel


<br />
<br />

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <center><h4>Use Administrative Account to Manage Website Content</h4></center>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(true)
                            
                            <center>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder="Username"})
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                </div>
                            </center>

                            <center>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                            </center>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-8 col-md-offset-2">
                                <center>
                                    <input type="submit" value="Log in" class="btn btn-block btn-primary" />
                                </center>
                            </div>

                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}